.app {
  /* border: solid red; */
  background: url(./assets/bkg-climate.jpg), url(./assets/bkg-climate.jpg),
    linear-gradient(to right, rgba(130, 115, 151), rgba(21, 19, 34));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: #e9d5ca;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 100vw;
}
