* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: /* url(./assets/bkg-climate.jpg),  */ url(./assets/bkg-climate.jpg),
    linear-gradient(to right, rgb(67, 59, 78), rgba(21, 19, 34));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: #e9d5ca;
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
