* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #e9d5ca;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: url(./assets/bkg-climate.jpg), url(./assets/bkg-climate.jpg),
    linear-gradient(to right, rgba(130, 115, 151), rgba(21, 19, 34));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
}
@media (max-width: 375px) {
  body {
    background-attachment: fixed;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
